main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#allMessages {
    width: 80%;
    height: 80%;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: -8px;
}

.message,
.time_cont {
    padding: 7px;
}

.time_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid #FFFFFF;
}

.nickname,
.time {
    font-size: 0.7em;
    font-weight: 100;
}

.nickname {
    display: inline-block;
    position: sticky;
    top: 0px;
    background-color: #C6B7F6;
    border-radius: 5px;
    padding: 3px 5px;
}

.time {
    vertical-align: middle;
}

.message_cont {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #FFE6B4;
    border-radius: 5px;
}

.messagesFromOneUser_cont {
    border-style: solid;
    border: 2px none;
    border-radius: 5px;
    margin-bottom: 8px;
}

.inputAndButton {
    margin-top: 20px;
}

#messageInput {
    width: 300px;
}

#messageInput,
#send {
    display: inline;
}